<div class="col-md-4 col-xs-12">
  <a class="nav-item nav-link " id="taxonomy-term-btn-{{ key }}" data-related-tab="taxonomy-term-tab-{{ key }}">
    <div class="card">
      <img class="card-img-top" src="{{ item.icon }}" alt="{{ item.alt }}">
      <div class="card-body">
        <h5 class="card-text">{{ item.name }}</h5>
      </div>
    </div>
  </a>
</div>
